configuration {
    modi: "window,drun,run";
    font: "LigaSFMono Nerd Font 13";
    location: 0;

    display-run: " ";
    display-drun: "  ";
    display-window: "  ";
    drun-display-format: "{name}";
    show-icons: true;
    terminal: "kitty";
    drun-match-fields: "name,generic,exec,categories";
    combi-modi: "drun,run,ssh";
    matching: "fuzzy";

    combi-hide-mode-prefix: true;
}

@theme "~/.config/rofi/themes/gruvbox.rasi"