auto-save-list/
*~
eln-cache/
eshell/
etc/
fontaine-latest-state-file.eld
history
straight/
transient/
tree-sitter/
var/
url/
projects
/elpa/
bookmarks
network-security.data
recentf
tramp
elisp-autofmt-cache/
